/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
	  width: 100%;
	  background-color: #000009;
	  overflow-x: hidden;
	  /* animation: background-imag 0.5s ease-in;
	  animation-iteration-count: infinite; */
	  background-image: url("abnormal2.png");
	  background-position: top;
	  margin: 0;
	  padding: 0;
	  background-position: 0% 0%;
	  background-repeat: no-repeat;
	  background-size:auto;
	  background-attachment: fixed;
	  overflow-y: hidden;
}

.imagen_cursor {
	position: fixed;
	z-index: -1;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	animation: twinlke 0.6s ease-in;
	animation-iteration-count: infinite;
	filter: brightness(120%)
	}
	

a {
	color: #382840;
	text-decoration: none;
}
.navbar {
  	width: 100%;
  	background-color: rgba(255,230,245,0.5);
  	height: 12vh;
  	margin-top: 35px;
  	animation: grow 1s ease-in-out;
  	box-shadow: 0px 2px 50px 0px rgba(0,0,0,1);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: stretch;
	animation-fill-mode: forwards;
	z-index: 4;
	margin-bottom: 8vh;
	animation-play-state: paused;
}
#navbar-div-1 {
display:flex;
width: 60%;
margin-left: 1em;
justify-content: left;

}
.flag { width: 10px}

#navbar-inTitle {
	display: flex;
	width:100%;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
	margin-left:2em;
}

.titleNav {
	font-family: 'Permanent Marker', cursive;

	 font-size: 4.2vw;
	 /*color: #030309;*/
	   color:#180820;
	   margin-left: 3em;

}
#navbar-inLinks {
	display: flex;
	width: 40%;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	
}

.navlinks {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	flex-grow: 1;
	cursor:pointer;
	border-left: 1px solid rgba(255,245,245,0);
	border-right: 1px solid rgba(255,245,245,0.0);
	  color: #382840;
	  flex-grow: 1;
}
.navlinks:hover {
	border-left: 1px solid #888;
	border-right: 1px solid #888;

}
.flag {
	flex-grow:0.5;
}
.navlinks p {
	text-decoration: none;
	animation: fade-in 2s ease-out forwards;
  	color: #402845;
	animation-play-state: paused;
}
.navlinks:hover p {
	color:#003;
}
.flag {
	width: 30px;
	
}
.sticky {
	background-color: #101010;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	height: 8vh;
}
.sticky .navlinks p {
	color: #446;
}
.sticky .navlinks:hover p {
	color: #88c;
}
.sticky .navlinks:hover {
	border-left: 1px solid #222;
	border-right: 1px solid #222;
}
.sticky #logo {
	width: 40px;
	height: 40px;
	border: 2px solid black;
	top: 5px;
	left: 20px;
	overflow: visible;
}
.sticky #logo::before {
	border-width: 45px 22.5px 12.5px 15.5px;
	left: -27px;
	top: -48px;
	transform: rotate(250deg);
}
.sticky #logo2::before {
	border-width: 45px 32.5px 18.5px 15.5px;
	left: -32px;
	top: -42px;
	transform: rotate(250deg);
}
.sticky #logo::after {
	width: 10.5px;
  height: 32px;
  top :1px;
  left: 22px;
}
.sticky #logo2::after {
	width: 15px;
  height: 37px;
  top :3.5px;
  left: 24.5px;
}
.sticky #logo-line {
	top: 16px;
  left: -2px;
	height: 3px;
}
.sticky #logo-line::after{
	border-width: 6px 6px 6px 6px;
  bottom:-4.5px;
  left: 23px;
}

.sticky #navbar-inTitle {
	width: 100%;
}
.sticky #navbar-inLinks {
	width: 40%;
	

}
.sticky .titleNav {
	color: #d0d0e8;
	font-size: 2.5em;
	text-shadow: 1px -1px 4px #aaa;
	margin-left: 1em;
	width: 100%;
}
.sticky #navbar-div-1 {
	width: 60%;
}

.contMargin {
	margin-top: 27vh;
}

#logo {
  	animation: rotate-in 1s ease-out, color 0.5s ease-in-out 3.3s;
  	left: 3.3vw;
  	top: 3vh;
	animation-play-state: paused;
}

.secondary-image {
  	width: 90%;
  	border-radius: 3%;
  	opacity: 0.9;
  	box-shadow: 0 0 10px rgba(255,255,255,0.5);
  	margin-bottom: 1em;
	margin-top: 1em;
}
.secondary-image:hover {
	filter: brightness(110%) ;

}
.mepic {
	width: 19em;
  	border-radius: 3%;
  	opacity: 0.9;
  	box-shadow: 0 0 10px rgba(255,255,255,0.5);
  	margin-bottom: 1em;
	margin-top: 1em;
}


main {
  	display: flex;
  	width: 75%;
  	margin-left: auto;
  	margin-right: auto;
  	flex-direction: column;
  	margin-top: 8vh;
  	text-align: center;
  	overflow-y: hidden;
	height: auto;
}
#down  {
  	font-family: monospace;
  	font-size: 10em;
  	text-shadow: 0px 0px 3px rgba(100,0,120, 0.5);
  	font-weight: bold;
  	line-height: 50px;
	width: 15vw;
	height: 24vh;
	margin-left: auto;
	margin-right: auto;
	animation: fade-in 2s ease-out;
  	text-align: center;
	overflow: hidden;
	color: #177;
	background-image: url(down.png);
	background-repeat: no-repeat;
	background-size:auto;
	/*background: -moz-linear-gradient(#8ee, #033);*/
       	animation-play-state: paused;

  }

.container {
  	width: 93%;
  	height: auto;
  	background-color: #060010;
  	display: flex;
  	flex-direction: column;
  	text-align: center;
  	padding: 2em;
  	margin-bottom: 5em;
	color: #32920a;
	animation: fade-in 2.5s ease-out;
 	box-shadow: 2px 7px 5px rgba(10,0,10,0.4);
	animation-play-state: paused;
}
.container2 {
	display: flex;
	
}
.row {
  	display: flex;
  	flex-direction: row;

}
.column {
  	width: 45%;
  	margin: 2.5%;
  	overflow: hidden;
	border-radius: 10px;
	background-color: rgba(180, 250, 180, 0.1);
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.single-column {
	align-self: center;
}
.loading { 
	margin:0;
	width: 100%;
	height: 250%;
	background-color: #040008;
	position: absolute;
	top:0;
	left:0;
	z-index: 5;
	animation: 1s disapear;
	animation-play-state: paused;
	animation-fill-mode: forwards;

}
.loading img {
	position: absolute;
	left: 45vw;
	top: 50vh;
}

.intro-tag {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto;
	background-color: rgba(225,200,225,0.5);
	z-index: 0;
	border-radius: 5px;
	animation: 2s fade-in;
	font-family: monospace;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 2vw;
	text-shadow: 2px 2px 4px rgba(55,30,55,0.8);
	box-shadow: 2px 2px 8px rgba(0,0,0,0.6), -2px -2px 8px rgba(255,255,255,0.9);
	padding-bottom: 1em;
	animation-play-state: paused;
}

.abbrain {
	 width: 44vw;
 	 border-radius: 3%;
 	 opacity: 0.9;
 	 box-shadow: 0 0 10px rgba(255,255,255,0.5);
 	 margin-bottom: 1em;
 	 margin-top: 1em;
}
.title-small {
font-size: 2em;
color: #33ee88;
font-family: monospace;
text-shadow: 0px 0px 5px black;
}
.column h2 {
	font-size: 1.4em;
	color: #53b43e;
}

form {
	margin :1em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
input {
	width: 35vw;
	margin: 1em;
	float: right;
	border-radius: 5px;
	border: #32920a 2px solid ;
	background-color:  #282232;
	outline: none;
	color: #32d20a;
	font-size: 1.2em;
	
}
input:focus {
	border: #53b42c 2px solid ;
	background-color: #151232;
}
textarea {
	outline: none;
	border: #32920a 2px solid ;
	background-color:  #282232;
	border-radius: 5px;
	width: 35vw;
	margin: 1em;
	resize: vertical;
	height: 300px;
	float: right;
	
	color: #32d20a;
	font-size: 1.5em;
	padding: 1em;
	box-sizing:border-box;
}
textarea:focus {
	border: #63b42c 2px solid ;
	background-color: #151232;
}
.form-text {
	text-align: left;
	float: left;
	
	clear: left;
	margin: 1.5em;
}
.submit {
	clear: both;
}
#alert-box {
	position: fixed;
	width: 30%;
	height: 30%;
    background-color: #282232;
	color: #33ee88;
	box-shadow: 0 0 10px rgba(255,255,255,0.5);
	text-align: center;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	top: 35%;
	left: 35%;
	font-size: 120%;
	

}
#alert-button, #submit {
	background-color: #282232 ;
	color: #33ee88;
	border-radius: 0%;
	border: 1px solid #33ee88;
	padding: 0.5em;
	width: 7em;
	cursor: pointer;
}
#alert-button:hover, #sumbit:hover {
	text-shadow: 0px 0px 2px white;
}
#alert-button:active, #submit:active {
	width: 8em;
	border: #23de78 inset;
	
	color: #23de78;
	text-shadow: 0px 0px 0px black;
	background-color: #262030
}
#alert-button:active {
	font-size: 61%;
}
#submit:active {
	font-size: 72%;
}

/*ANIMATIONS*/

@keyframes rotate-in {
	0% {
	  left: -200px;
	  transform: rotate(-360deg);
	}
	100% {
	  left: 40px;
	  transform: rotate(0deg);
	}
  }
  
  @keyframes twinlke {
	  0% {opacity: 0;}
	  100% {opacity: 0.3;}
  }
  @keyframes grow {
   0% {width: 0%;
  color: transparent;
   }
   100% {width: 100%;
  color:#444;
   }
  }
  @keyframes disapear {
	0% {opacity: 1;}
  
   100% {opacity: 0;}
  }
  @keyframes fade-in {
	  0% {opacity: 0}
	  50% {opacity: 0}
	  100% {opacity:1 }
  }